[View in Colaboratory](https://colab.research.google.com/github/saranyamandava/Lambda-School-DataScience/blob/master/week7__Model_Tuning_Coding_Challenge_1.ipynb)

# Splitting data into Test/Train datasets


In this code challenge we're going to use the Pima Indians Diabetes dataset to split our data into test/train datasets both manually and using a library.

In [21]:
# LAMBDA SCHOOL
# 
# MACHINE LEARNING
#
# MIT LICENSE

# Import Data and Libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
print(df.shape)
df.head()

(768, 9)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1


## 1) Randomly a select 20% of your data to be in your "test" dataset and the other 80% to be in your "train" dataset. Do this without setting a random seed.

In [0]:
##### YOUR CODE HERE #####

train_sample = df.sample(frac = 0.8)
test_sample = df.drop(test_sample.index)

## 2) After you have randomly divided the dataset, print the shape of both of your new test and train datasets and print the first five rows of each.

In [26]:
##### Print train dataset shape and first 5 rows. #####
print (train_sample.shape)
print (train_sample.head())

(614, 9)
     preg  plas  pres  skin  test  mass   pedi  age  class
655     2   155    52    27   540  38.7  0.240   25      1
76      7    62    78     0     0  32.6  0.391   41      0
286     5   155    84    44   545  38.7  0.619   34      0
496     5   110    68     0     0  26.0  0.292   30      0
70      2   100    66    20    90  32.9  0.867   28      1

In [27]:
##### Print test dataset shape and first 5 rows. #####
print (test_sample.shape)
print (test_sample.head())

(154, 9)
    preg  plas  pres  skin  test  mass   pedi  age  class
3      1    89    66    23    94  28.1  0.167   21      0
11    10   168    74     0     0  38.0  0.537   34      1
12    10   139    80     0     0  27.1  1.441   57      0
17     7   107    74     0     0  29.6  0.254   31      1
27     1    97    66    15   140  23.2  0.487   22      0

## 3) Use sklearn's train_test_split function to split the data into test and training datasets. Set the random_state to 42

In [0]:
##### YOUR CODE HERE #####
train, test = train_test_split(df, test_size=0.2, random_state=42)

## 4) Print the shape and first 5 rows of the new dataframes.

In [30]:
##### Print train dataset shape and first 5 rows. #####
print (train.shape)
print (train.head())

(614, 9)
     preg  plas  pres  skin  test  mass   pedi  age  class
60      2    84     0     0     0   0.0  0.304   21      0
618     9   112    82    24     0  28.2  1.282   50      1
346     1   139    46    19    83  28.7  0.654   22      0
294     0   161    50     0     0  21.9  0.254   65      0
231     6   134    80    37   370  46.2  0.238   46      1

In [31]:
##### Print test dataset shape and first 5 rows. #####
print (test.shape)
print (test.head())

(154, 9)
     preg  plas  pres  skin  test  mass   pedi  age  class
668     6    98    58    33   190  34.0  0.430   43      0
324     2   112    75    32     0  35.7  0.148   21      0
624     2   108    64     0     0  30.8  0.158   21      0
690     8   107    80     0     0  24.6  0.856   34      0
473     7   136    90     0     0  29.9  0.210   50      0

### Change the random state on your test_train_split to a different integer and run the code again. What happens to the shape of the dataset? What happens to the first five rows?


---

In [32]:
train, test = train_test_split(df, test_size=0.2, random_state=41)
print(train.shape)
train.head()

(614, 9)

     preg  plas  pres  skin  test  mass   pedi  age  class
158     2    88    74    19    53  29.0  0.229   22      0
573     2    98    60    17   120  34.7  0.198   22      0
429     1    95    82    25   180  35.0  0.233   43      1
740    11   120    80    37   150  42.3  0.785   48      1
589     0    73     0     0     0  21.1  0.342   25      0

The data in first five rows is different with the same shape as before. This is because, random sampling is dependent on random sampling.

## 5) Using the original dataframe, create two new dataframes titled "X" and "Y". 

The Y dataframe should be composed of only the "class" column (our dependent variable - or what we want to predict) and the X dataframe should be composed of all other columns. (Our independent variables, sometimes called features or predictors)

Print their shape as well as the first 5 rows of these two dataframes.

In [0]:
##### YOUR CODE HERE #####
X = df.drop(['class'],axis = 1)
Y = df['class']

In [36]:
print (X.shape)
print (X.head())

(768, 8)
   preg  plas  pres  skin  test  mass   pedi  age
0     6   148    72    35     0  33.6  0.627   50
1     1    85    66    29     0  26.6  0.351   31
2     8   183    64     0     0  23.3  0.672   32
3     1    89    66    23    94  28.1  0.167   21
4     0   137    40    35   168  43.1  2.288   33

In [37]:
print (Y.shape)
print (Y.head())

(768,)
0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

## 6) Now use the test_train_split function to not only split your dataset into test and train datasets, but also by independent and dependent variables. Pick any integer value to use use as the random seed.

You should end up with 4 datasets: X_train, Y_train, X_test, and Y_test

Print the sizes and first 5 rows of each of these four datasets.

In [0]:
##### YOUR CODE HERE #####
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=41)

In [42]:
print(X_train.shape)
print(X_train.head())

(614, 8)
     preg  plas  pres  skin  test  mass   pedi  age
158     2    88    74    19    53  29.0  0.229   22
573     2    98    60    17   120  34.7  0.198   22
429     1    95    82    25   180  35.0  0.233   43
740    11   120    80    37   150  42.3  0.785   48
589     0    73     0     0     0  21.1  0.342   25

In [43]:
print(X_test.shape)
print(X_test.head())

(154, 8)
     preg  plas  pres  skin  test  mass   pedi  age
679     2   101    58    17   265  24.2  0.614   23
345     8   126    88    36   108  38.5  0.349   49
486     1   139    62    41   480  40.7  0.536   21
20      3   126    88    41   235  39.3  0.704   27
457     5    86    68    28    71  30.2  0.364   24

In [44]:
print(Y_train.shape)
print(Y_train.head())

(614,)
158    0
573    0
429    1
740    1
589    0
Name: class, dtype: int64

In [45]:
print(Y_test.shape)
print(Y_test.head())

(154,)
679    0
345    0
486    0
20     0
457    0
Name: class, dtype: int64

## The following code will split our data and then train a logistic regression classifier.

## Run the code muliple times using different random_seed. What happens to the model's accuracy? Why do you think  this might be happening? 

## Research what the "Random Seed" is for and how it can help us ensure that our machine learning results are reproducible.

In [47]:
feature_cols = [col for col in df.columns if 'class' not in col]
Y = df['class']
X = df[feature_cols]

random_seed_values = [41,42,43,44,45]

for random_seed in random_seed_values:
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=random_seed)
  model = linear_model.LogisticRegression()
  model.fit(X_train, Y_train)
  result = model.score(X_test, Y_test)
  print("Random Seed:",random_seed,"Accuracy: %.3f%%" % (result*100.0))

('Random Seed:', 41, 'Accuracy: 78.571%')
('Random Seed:', 42, 'Accuracy: 75.974%')
('Random Seed:', 43, 'Accuracy: 75.974%')
('Random Seed:', 44, 'Accuracy: 80.519%')
('Random Seed:', 45, 'Accuracy: 74.675%')