## Categorical Encodidng

In this challenge, we will touch on another data preparation task that you should be aware of. This task revolves around dealing with "Categorical" variables. As you already know by now, Machine Learning models are based on mathematical equations. If the underlying data set contains categorical data, then the categorical variables needed to be converted into numbers since a mathematical equation only contains numbers. 

The data set used in Coding Challenge #1 contains 2 categorical variables i.e. 'Cities in Bay Area' and 'Own Home?'. The first categorical variable contains 3 categories i.e. 'Pleasanton', 'Walnut Creek' and 'Dublin' and the second categorical variable contains 2 categories i.e. 'Yes' and 'No.

Ask? Encode the 'Cities in Bay Area' categorical variable into numbers.

*Hint*: Utilize the LabelEncoder class from the sklearn.preprocessing page

*Additional Resource*: http://pbpython.com/categorical-encoding.html

In [0]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pandas as pd
data = pd.read_csv('https://www.dropbox.com/s/ldbp498ukkdy3fd/Data-CodeChallenge2.csv?raw=1')
data.dtypes

Cities in East Bay    object
Age                    int64
Salary                 int64
Own Home?             object
dtype: object

In [0]:
pd.get_dummies(data, columns=["Cities in East Bay"]).head()
pd.get_dummies(data, columns=["Cities in East Bay"], prefix=["Cities"]).head()

,Age,Salary,Own Home?,Cities_Dublin,Cities_Pleasanton,Cities_Walnut Creek
0,44,172000,No,0,1,0
1,27,148000,Yes,0,0,1
2,30,154000,No,1,0,0
3,38,161000,No,0,0,1
4,40,161000,Yes,1,0,0

## Stretch goal
`LabelEncoding` suggests a value difference between different classes. Instead, explore `OneHotEncoder` [OneHotEncoder](http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) to produce categorical labels that are not biased:

In [0]:
from sklearn.preprocessing import OneHotEncoder
cities_one_hot = OneHotEncoder().fit_transform(dataset[['Cities in East Bay']]).toarray()
cities = pd.DataFrame(cities_one_hot, columns=['Dublin', 'Pleasanton', 'Walnut Creek'], dtype=np.int64)
dataset = dataset.join([cities]).drop(['Cities in East Bay'], axis=1)
dataset