[View in Colaboratory](https://colab.research.google.com/github/saranyamandava/Lambda-School-DataScience/blob/master/Week8__Coding_Challenge_2_Collaborative_Filtering.ipynb)

**Coding Challenge** #** 2** - Collaborative Filtering

**Coding Challenge:** **Context**

With collaborative filtering, an application can find users with similar tastes and can look at ietms they like and combine them to create a ranked list of suggestions which is known as user based recommendation. Or can also find items which are similar to each other and then suggest the items to users based on their past purchases which is known as item based recommendation. The first step in this technique is to find users with similar tastes or items which share similarity. 

There are various similarity models like** Cosine Similarity, Euclidean Distance Similarity and Pearson Correlation Similarity** which can be used to find similarity between users or items.

In this coding challenge, you will go through the process of identifying users that are similar (i.e. User Similarity) and items that are similar (i.e. "Item Similarity")

**User Similarity:**

**1a)** Compute "User Similarity" based on  cosine similarity coefficient (fyi, the other commonly used similarity coefficients are Pearson Correlation Coefficient and Euclidean)

**1b)** Based on the cosine similarity coefficient, identify 2 users who are similar and then discover common movie names that have been rated by the 2 users; examine how the similar users have rated the movies

**Item Similarity:**

**2a) ** Compute "Item Similarity" based on the Pearson Correlation Similarity Coefficient

**2b)** Pick 2 movies and find movies that are similar to the movies you have picked

**Challenges:**

**3)** According to you, do you foresee any issue(s)  associated with Collaborative Filtering? 

**Dataset: ** For the purposes of this challenge, we will leverage the data set accessible via https://grouplens.org/datasets/movielens/

The data set is posted under the section: ***recommended for education and development*** and we will stick to the small version of the data set with 100,000 ratings

In [0]:
# Imports and reading in data
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Distance measurements
from sklearn.metrics import pairwise_distances
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import correlation

# Read in the data
df_movies = pd.read_csv(
    'https://www.dropbox.com/s/qo7v9k5rcwt7wgh/movies.csv?raw=1')
df_ratings = pd.read_csv(
    'https://www.dropbox.com/s/f2h5px87n2lfqj7/ratings.csv?raw=1')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [0]:
# How many movies are there?
print(df_movies.movieId.count())

# How many (unique) users are there?
print(df_ratings.userId.nunique())

9125
671

In [0]:
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [0]:
# Drop the timestamp column from ratings
df_ratings.drop(['timestamp'], axis=1)

        userId  movieId  rating
0            1       31     2.5
1            1     1029     3.0
2            1     1061     3.0
3            1     1129     2.0
4            1     1172     4.0
5            1     1263     2.0
6            1     1287     2.0
7            1     1293     2.0
8            1     1339     3.5
9            1     1343     2.0
10           1     1371     2.5
11           1     1405     1.0
12           1     1953     4.0
13           1     2105     4.0
14           1     2150     3.0
15           1     2193     2.0
16           1     2294     2.0
17           1     2455     2.5
18           1     2968     1.0
19           1     3671     3.0
20           2       10     4.0
21           2       17     5.0
22           2       39     5.0
23           2       47     4.0
24           2       50     4.0
25           2       52     3.0
26           2       62     3.0
27           2      110     4.0
28           2      144     3.0
29           2      150     5.0
...        ...      ...     ...
99974      671     4034     4.5
99975      671     4306     5.0
99976      671     4308     3.5
99977      671     4880     4.0
99978      671     4886     5.0
99979      671     4896     5.0
99980      671     4963     4.5
99981      671     4973     4.5
99982      671     4993     5.0
99983      671     4995     4.0
99984      671     5010     2.0
99985      671     5218     2.0
99986      671     5299     3.0
99987      671     5349     4.0
99988      671     5377     4.0
99989      671     5445     4.5
99990      671     5464     3.0
99991      671     5669     4.0
99992      671     5816     4.0
99993      671     5902     3.5
99994      671     5952     5.0
99995      671     5989     4.0
99996      671     5991     4.5
99997      671     5995     4.0
99998      671     6212     2.5
99999      671     6268     2.5
100000     671     6269     4.0
100001     671     6365     4.0
100002     671     6385     2.5
100003     671     6565     3.5

[100004 rows x 3 columns]

In [0]:
# Transform the data so rows are users, columns are movies, values are ratings
df_ratings_pivot = pd.pivot_table(df_ratings, index='userId', columns='movieId',
                                  values='rating').fillna(0)
print(df_ratings_pivot)

movieId  1       2       3       4       5       6       7       8       \
userId
1           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
5           0.0     0.0     4.0     0.0     0.0     0.0     0.0     0.0
6           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
7           3.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
8           0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
9           4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
12          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
13          5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
15          2.0     2.0     0.0     0.0     4.5     4.0     0.0     0.0
16          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
17          0.0     0.0     0.0     0.0     0.0     4.5     0.0     0.0
18          0.0     0.0     0.0     0.0     3.0     4.0     3.0     0.0
19          3.0     3.0     3.0     3.0     0.0     3.0     3.0     0.0
20          3.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
21          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
23          3.0     0.0     0.0     0.0     0.0     3.5     0.0     0.0
24          0.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0
25          0.0     0.0     3.0     0.0     0.0     0.0     0.0     0.0
26          5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
27          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
29          0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
30          4.0     2.0     0.0     0.0     0.0     4.0     0.0     4.0
...         ...     ...     ...     ...     ...     ...     ...     ...
642         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
643         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
644         0.0     0.0     0.0     1.0     0.0     0.0     0.0     0.0
645         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
646         5.0     0.0     5.0     0.0     0.0     0.0     0.0     0.0
647         4.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
648         0.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
649         4.0     0.0     0.0     3.0     0.0     0.0     0.0     0.0
650         0.0     0.0     3.0     1.0     3.0     0.0     0.0     0.0
651         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
652         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
653         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
654         5.0     3.0     0.0     0.0     4.0     0.0     0.0     0.0
655         0.0     4.0     0.0     0.0     0.0     0.0     0.0     0.0
656         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
657         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
658         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
659         0.0     0.0     0.0     0.0     0.0     3.0     0.0     0.0
660         2.5     0.0     0.0     0.0     0.0     0.0     0.0     0.0
661         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
662         0.0     5.0     0.0     0.0     0.0     0.0     0.0     0.0
663         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
664         3.5     0.0     0.0     0.0     0.0     4.0     0.0     0.0
665         0.0     3.0     3.0     0.0     3.0     0.0     0.0     0.0
666         0.0     0.0     0.0     0.0     0.0     5.0     0.0     0.0
667         0.0     0.0     0.0     0.0     0.0     4.0     0.0     0.0
668         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
670         4.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
671         5.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

movieId  9       10       ...    161084  161155  161594  161830  161918  \
userId                    ...
1           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
2           0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
3           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
4           0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
5           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
6           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
7           0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
8           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
9           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
10          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
11          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
12          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
13          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
14          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
15          0.0     3.0   ...       0.0     0.5     0.0     0.0     0.0
16          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
17          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
18          3.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
19          3.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
20          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
21          0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
22          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
23          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
24          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
25          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
26          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
27          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
28          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
29          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
30          0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
...         ...     ...   ...       ...     ...     ...     ...     ...
642         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
643         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
644         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
645         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
646         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
647         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
648         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
649         0.0     5.0   ...       0.0     0.0     0.0     0.0     0.0
650         0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
651         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
652         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
653         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
654         0.0     4.0   ...       0.0     0.0     0.0     0.0     0.0
655         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
656         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
657         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
658         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
659         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
660         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
661         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
662         0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
663         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
664         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
665         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
666         0.0     3.0   ...       0.0     0.0     0.0     0.0     0.0
667         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
668         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
669         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
670         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
671         0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0

movieId  161944  162376  162542  162672  163949
userId
1           0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0
3           0.0     0.0     0.0     0.0     0.0
4           0.0     0.0     0.0     0.0     0.0
5           0.0     0.0     0.0     0.0     0.0
6           0.0     0.0     0.0     0.0     0.0
7           0.0     0.0     0.0     0.0     0.0
8           0.0     0.0     0.0     0.0     0.0
9           0.0     0.0     0.0     0.0     0.0
10          0.0     0.0     0.0     0.0     0.0
11          0.0     0.0     0.0     0.0     0.0
12          0.0     0.0     0.0     0.0     0.0
13          0.0     0.0     0.0     0.0     0.0
14          0.0     0.0     0.0     0.0     0.0
15          0.0     0.0     0.0     0.0     0.0
16          0.0     0.0     0.0     0.0     0.0
17          0.0     0.0     0.0     0.0     0.0
18          0.0     0.0     0.0     0.0     0.0
19          0.0     0.0     0.0     0.0     0.0
20          0.0     0.0     0.0     0.0     0.0
21          0.0     0.0     0.0     0.0     0.0
22          0.0     0.0     0.0     0.0     0.0
23          0.0     0.0     0.0     0.0     0.0
24          0.0     0.0     0.0     0.0     0.0
25          0.0     0.0     0.0     0.0     0.0
26          0.0     0.0     0.0     0.0     0.0
27          0.0     0.0     0.0     0.0     0.0
28          0.0     0.0     0.0     0.0     0.0
29          0.0     0.0     0.0     0.0     0.0
30          0.0     0.0     0.0     0.0     0.0
...         ...     ...     ...     ...     ...
642         0.0     0.0     0.0     0.0     0.0
643         0.0     0.0     0.0     0.0     0.0
644         0.0     0.0     0.0     0.0     0.0
645         0.0     0.0     0.0     0.0     0.0
646         0.0     0.0     0.0     0.0     0.0
647         0.0     0.0     0.0     0.0     0.0
648         0.0     0.0     0.0     0.0     0.0
649         0.0     0.0     0.0     0.0     0.0
650         0.0     0.0     0.0     0.0     0.0
651         0.0     0.0     0.0     0.0     0.0
652         0.0     0.0     0.0     0.0     0.0
653         0.0     0.0     0.0     0.0     0.0
654         0.0     0.0     0.0     0.0     0.0
655         0.0     0.0     0.0     0.0     0.0
656         0.0     0.0     0.0     0.0     0.0
657         0.0     0.0     0.0     0.0     0.0
658         0.0     0.0     0.0     0.0     0.0
659         0.0     0.0     0.0     0.0     0.0
660         0.0     0.0     0.0     0.0     0.0
661         0.0     0.0     0.0     0.0     0.0
662         0.0     0.0     0.0     0.0     0.0
663         0.0     0.0     0.0     0.0     0.0
664         0.0     0.0     0.0     0.0     0.0
665         0.0     0.0     0.0     0.0     0.0
666         0.0     0.0     0.0     0.0     0.0
667         0.0     0.0     0.0     0.0     0.0
668         0.0     0.0     0.0     0.0     0.0
669         0.0     0.0     0.0     0.0     0.0
670         0.0     0.0     0.0     0.0     0.0
671         0.0     0.0     0.0     0.0     0.0

[671 rows x 9066 columns]

In [0]:
cos_similarity = cosine_similarity(df_ratings_pivot.as_matrix())
print(cos_similarity)  # User similarity matrix
print(cos_similarity.shape)

[[1.         0.         0.         ... 0.06291708 0.         0.01746565]
 [0.         1.         0.12429498 ... 0.02413984 0.17059464 0.1131753 ]
 [0.         0.12429498 1.         ... 0.08098382 0.13660585 0.17019275]
 ...
 [0.06291708 0.02413984 0.08098382 ... 1.         0.04260878 0.08520194]
 [0.         0.17059464 0.13660585 ... 0.04260878 1.         0.22867673]
 [0.01746565 0.1131753  0.17019275 ... 0.08520194 0.22867673 1.        ]]
(671, 671)

In [0]:
# We want to find users similar to each other, other than themselves
np.fill_diagonal(cos_similarity, 0)
print(cos_similarity)

[[0.         0.         0.         ... 0.06291708 0.         0.01746565]
 [0.         0.         0.12429498 ... 0.02413984 0.17059464 0.1131753 ]
 [0.         0.12429498 0.         ... 0.08098382 0.13660585 0.17019275]
 ...
 [0.06291708 0.02413984 0.08098382 ... 0.         0.04260878 0.08520194]
 [0.         0.17059464 0.13660585 ... 0.04260878 0.         0.22867673]
 [0.01746565 0.1131753  0.17019275 ... 0.08520194 0.22867673 0.        ]]

In [0]:
# Answering question 1a, user similarity based on cosine similarity coefficient
df_cos_sim = pd.DataFrame(cos_similarity)
max_col_idx = df_cos_sim.idxmax(axis=1)
# Sample 5 values randomly from the DataFrame, random_state to reproduce
print(max_col_idx.sample(5, random_state=15))

200    294
40     196
90      41
218    561
365    396
dtype: int64

In [0]:
# Question 1b, examine ratings for similar users
def review_ratings_by_similar_users(user1, user2):
  df_ratings1 = df_ratings[df_ratings.userId == user1]
  df_ratings2 = df_ratings[df_ratings.userId == user2]
  df_ratings_merged = df_ratings1.merge(df_ratings2, on='movieId', how='inner')
  df_common_names = df_ratings_merged.merge(df_movies, on='movieId')
  df_common_names.drop(['timestamp_x', 'timestamp_y'], axis=1, inplace=True)
  return df_common_names
print(review_ratings_by_similar_users(201, 295))

    userId_x  movieId  rating_x  userId_y  rating_y  \
0        201        6       5.0       295       4.5
1        201       47       5.0       295       4.5
2        201       50       5.0       295       4.5
3        201      110       5.0       295       4.0
4        201      150       5.0       295       4.5
5        201      153       4.0       295       3.0
6        201      165       4.0       295       4.0
7        201      186       3.0       295       3.5
8        201      260       5.0       295       5.0
9        201      293       5.0       295       4.5
10       201      296       5.0       295       4.0
11       201      316       4.0       295       4.5
12       201      318       5.0       295       4.5
13       201      356       4.0       295       4.5
14       201      377       4.0       295       4.0
15       201      380       4.0       295       4.0
16       201      457       4.0       295       4.5
17       201      480       5.0       295       4.5
18       201      527       4.0       295       4.5
19       201      589       4.0       295       5.0
20       201      592       4.0       295       4.5
21       201      593       4.0       295       4.5
22       201      608       4.0       295       4.0
23       201      648       4.0       295       4.5
24       201      736       4.0       295       3.5
25       201      780       4.0       295       4.0
26       201      832       4.0       295       4.5
27       201     1101       5.0       295       5.0
28       201     1196       5.0       295       5.0
29       201     1198       5.0       295       4.0
..       ...      ...       ...       ...       ...
40       201     2420       3.0       295       4.0
41       201     2699       3.0       295       3.5
42       201     2762       2.0       295       4.5
43       201     2797       5.0       295       4.5
44       201     2950       4.0       295       3.5
45       201     3793       4.0       295       5.0
46       201     4085       4.0       295       4.0
47       201     4306       5.0       295       4.5
48       201     4886       5.0       295       4.5
49       201     4993       5.0       295       5.0
50       201     5349       4.0       295       5.0
51       201     5418       4.0       295       4.5
52       201     5952       5.0       295       5.0
53       201     5989       4.0       295       5.0
54       201     6333       4.0       295       4.5
55       201     6377       5.0       295       5.0
56       201     6539       4.0       295       4.5
57       201     7147       5.0       295       4.0
58       201     7153       5.0       295       4.5
59       201     7458       4.0       295       4.0
60       201     8360       5.0       295       4.0
61       201     8368       5.0       295       4.0
62       201     8636       4.0       295       5.0
63       201     8644       4.0       295       3.5
64       201     8665       4.0       295       3.5
65       201     8798       4.0       295       4.5
66       201     8810       4.0       295       3.0
67       201     8947       5.0       295       4.5
68       201     8958       5.0       295       4.5
69       201     8961       5.0       295       4.5

                                                title  \
0                                         Heat (1995)
1                         Seven (a.k.a. Se7en) (1995)
2                          Usual Suspects, The (1995)
3                                   Braveheart (1995)
4                                    Apollo 13 (1995)
5                               Batman Forever (1995)
6                   Die Hard: With a Vengeance (1995)
7                                  Nine Months (1995)
8           Star Wars: Episode IV - A New Hope (1977)
9   LÃ©on: The Professional (a.k.a. The Professiona...
10                                Pulp Fiction (1994)
11                                    Stargate (1994)
12                   Shawshank Redemption, The (1994)
13                                Forrest Gump (1994)
14                                       Speed (1994)
15                                   True Lies (1994)
16                               Fugitive, The (1993)
17                               Jurassic Park (1993)
18                            Schindler's List (1993)
19                  Terminator 2: Judgment Day (1991)
20                                      Batman (1989)
21                   Silence of the Lambs, The (1991)
22                                       Fargo (1996)
23                         Mission: Impossible (1996)
24                                     Twister (1996)
25               Independence Day (a.k.a. ID4) (1996)
26                                      Ransom (1996)
27                                     Top Gun (1986)
28  Star Wars: Episode V - The Empire Strikes Back...
29  Raiders of the Lost Ark (Indiana Jones and the...
..                                                ...
40                             Karate Kid, The (1984)
41                               Arachnophobia (1990)
42                            Sixth Sense, The (1999)
43                                         Big (1988)
44                            Blue Lagoon, The (1980)
45                                       X-Men (2000)
46                           Beverly Hills Cop (1984)
47                                       Shrek (2001)
48                              Monsters, Inc. (2001)
49  Lord of the Rings: The Fellowship of the Ring,...
50                                  Spider-Man (2002)
51                        Bourne Identity, The (2002)
52      Lord of the Rings: The Two Towers, The (2002)
53                         Catch Me If You Can (2002)
54                            X2: X-Men United (2003)
55                                Finding Nemo (2003)
56  Pirates of the Caribbean: The Curse of the Bla...
57                                    Big Fish (2003)
58  Lord of the Rings: The Return of the King, The...
59                                        Troy (2004)
60                                     Shrek 2 (2004)
61    Harry Potter and the Prisoner of Azkaban (2004)
62                                Spider-Man 2 (2004)
63                                    I, Robot (2004)
64                       Bourne Supremacy, The (2004)
65                                  Collateral (2004)
66                     AVP: Alien vs. Predator (2004)
67                                 Grudge, The (2004)
68                                         Ray (2004)
69                            Incredibles, The (2004)

                                               genres
0                               Action|Crime|Thriller
1                                    Mystery|Thriller
2                              Crime|Mystery|Thriller
3                                    Action|Drama|War
4                                Adventure|Drama|IMAX
5                       Action|Adventure|Comedy|Crime
6                               Action|Crime|Thriller
7                                      Comedy|Romance
8                             Action|Adventure|Sci-Fi
9                         Action|Crime|Drama|Thriller
10                        Comedy|Crime|Drama|Thriller
11                            Action|Adventure|Sci-Fi
12                                        Crime|Drama
13                           Comedy|Drama|Romance|War
14                            Action|Romance|Thriller
15           Action|Adventure|Comedy|Romance|Thriller
16                                           Thriller
17                   Action|Adventure|Sci-Fi|Thriller
18                                          Drama|War
19                                      Action|Sci-Fi
20                              Action|Crime|Thriller
21                              Crime|Horror|Thriller
22                        Comedy|Crime|Drama|Thriller
23                  Action|Adventure|Mystery|Thriller
24                  Action|Adventure|Romance|Thriller
25                   Action|Adventure|Sci-Fi|Thriller
26                                     Crime|Thriller
27                                     Action|Romance
28                            Action|Adventure|Sci-Fi
29                                   Action|Adventure
..                                                ...
40                                              Drama
41                                      Comedy|Horror
42                               Drama|Horror|Mystery
43                       Comedy|Drama|Fantasy|Romance
44                            Adventure|Drama|Romance
45                            Action|Adventure|Sci-Fi
46                          Action|Comedy|Crime|Drama
47  Adventure|Animation|Children|Comedy|Fantasy|Ro...
48        Adventure|Animation|Children|Comedy|Fantasy
49                                  Adventure|Fantasy
50                   Action|Adventure|Sci-Fi|Thriller
51                            Action|Mystery|Thriller
52                                  Adventure|Fantasy
53                                        Crime|Drama
54                   Action|Adventure|Sci-Fi|Thriller
55                Adventure|Animation|Children|Comedy
56                    Action|Adventure|Comedy|Fantasy
57                              Drama|Fantasy|Romance
58                     Action|Adventure|Drama|Fantasy
59                         Action|Adventure|Drama|War
60  Adventure|Animation|Children|Comedy|Musical|Ro...
61                             Adventure|Fantasy|IMAX
62                       Action|Adventure|Sci-Fi|IMAX
63                   Action|Adventure|Sci-Fi|Thriller
64                              Action|Crime|Thriller
65                        Action|Crime|Drama|Thriller
66                      Action|Horror|Sci-Fi|Thriller
67                            Horror|Mystery|Thriller
68                                              Drama
69         Action|Adventure|Animation|Children|Comedy

[70 rows x 7 columns]

In [0]:
# Question 2a
df_movie_pivot = pd.pivot_table(df_ratings, index='movieId', columns='userId',
                                values='rating').fillna(0)
df_movie_pivot.head()

userId,1,2,3,4,5,6,7,8,9,10,...,662,663,664,665,666,667,668,669,670,671
movieId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,0.0,...,0.0,4.0,3.5,0.0,0.0,0.0,0.0,0.0,4.0,5.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
# Pairwise gives us distance, 1 - distance -> similarity
corr_sim = 1 - pairwise_distances(df_movie_pivot.as_matrix(),
                                  metric='correlation')
print(corr_sim)

[[ 1.          0.22374218  0.18326579 ... -0.0281574  -0.0281574
   0.04097762]
 [ 0.22374218  1.          0.12379014 ... -0.01619963 -0.01619963
  -0.01619963]
 [ 0.18326579  0.12379014  1.         ... -0.01122147 -0.01122147
  -0.01122147]
 ...
 [-0.0281574  -0.01619963 -0.01122147 ...  1.          1.
  -0.00149254]
 [-0.0281574  -0.01619963 -0.01122147 ...  1.          1.
  -0.00149254]
 [ 0.04097762 -0.01619963 -0.01122147 ... -0.00149254 -0.00149254
   1.        ]]

In [0]:
df_corr_sim = pd.DataFrame(corr_sim)
print(df_corr_sim)

          0         1         2         3         4         5         6     \
0     1.000000  0.223742  0.183266  0.071055  0.105076  0.201503  0.156075
1     0.223742  1.000000  0.123790  0.125014  0.193144  0.085889  0.117211
2     0.183266  0.123790  1.000000  0.147771  0.317911  0.158071  0.390331
3     0.071055  0.125014  0.147771  1.000000  0.150562  0.024466  0.156876
4     0.105076  0.193144  0.317911  0.150562  1.000000  0.186936  0.339605
5     0.201503  0.085889  0.158071  0.024466  0.186936  1.000000  0.198062
6     0.156075  0.117211  0.390331  0.156876  0.339605  0.198062  1.000000
7     0.019379  0.209299  0.109818  0.496859  0.179371  0.072355  0.181772
8     0.023699  0.053810  0.274638  0.238193  0.339402  0.201880  0.321178
9     0.089163  0.306685  0.086065  0.063511  0.150292  0.175972  0.075798
10    0.168445  0.186660  0.139719  0.116366  0.220251  0.182425  0.311394
11    0.124866  0.022262  0.146940 -0.020366  0.153043  0.101210  0.275227
12    0.104330  0.193984  0.086027  0.121058  0.141789 -0.006978  0.184156
13    0.084322 -0.027977  0.197579  0.057330  0.121293  0.201999  0.199577
14    0.124011  0.129813  0.128406  0.011077  0.050475  0.065381  0.087972
15    0.151788  0.116455  0.104210  0.057031  0.079226  0.340582  0.033242
16    0.189902  0.102538  0.143843  0.053721  0.172422  0.135160  0.293253
17    0.095866  0.023256  0.133872 -0.010675  0.060120  0.145473  0.123350
18    0.135996  0.332850  0.125513  0.004150  0.173279  0.169321  0.071982
19   -0.004981  0.154403  0.110500  0.212227  0.111728  0.127220  0.048858
20    0.155692  0.171911  0.073490  0.144420  0.078806  0.271003  0.135149
21    0.055644  0.186186  0.150956  0.052999  0.143616  0.296532  0.127805
22    0.030219  0.118357  0.138327 -0.001042  0.130255  0.218653  0.064583
23    0.015429  0.105813 -0.042559  0.096182  0.068041  0.083050  0.012604
24    0.164657  0.069189  0.169360  0.049211  0.162120  0.421901  0.247552
25    0.092841  0.012438  0.083668 -0.011165  0.139148  0.036382  0.120309
26    0.030719  0.113334  0.099800 -0.013209  0.092060  0.135475  0.123412
27    0.094342  0.048204 -0.010261 -0.021397  0.013402  0.102548  0.119321
28    0.150208  0.087829 -0.030820  0.090626 -0.025829  0.143669  0.022888
29    0.083715  0.032128  0.067316 -0.015754  0.050085  0.121363  0.114580
...        ...       ...       ...       ...       ...       ...       ...
9036  0.060655  0.072709 -0.015846 -0.007163  0.105633  0.138543 -0.015095
9037 -0.028157  0.103250 -0.011221 -0.005073 -0.011165 -0.016119 -0.010689
9038  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9039 -0.028157  0.133113 -0.011221 -0.005073 -0.011165  0.077584 -0.010689
9040 -0.023134 -0.001605 -0.014201 -0.006419  0.044152  0.013481 -0.013527
9041  0.070607  0.058457 -0.011221 -0.005073 -0.011165  0.104356 -0.010689
9042  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9043  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9044  0.055076  0.071303 -0.015846 -0.007163  0.122975  0.137282 -0.015095
9045  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9046  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9047  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9048  0.034091  0.088793 -0.015854 -0.007167 -0.015774 -0.022774 -0.015102
9049  0.070607  0.073388  0.109898 -0.005073  0.111648 -0.016119 -0.010689
9050  0.071276  0.139744 -0.013613 -0.006154  0.031151  0.006428 -0.012967
9051  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9052  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9053  0.050854 -0.016200 -0.011221 -0.005073 -0.011165 -0.016119 -0.010689
9054  0.040978 -0.016200 -0.011221 -0.005073 -0.011165  0.050812  0.071754
9055  0.040978 -0.016200 -0.011221 -0.005073 -0.011165  0.050812  0.071754
9056  0.040978 -0.016200 -0.011221 -0.005073 -0.011165  0.050812  0.071754
9057  0.011348  0.043525 -0.011221 -0.005073  0.173054  0.090970 -0.010689
9058  0.070607  0.058457 -0.011221 -0.005073 -0.011165  0.104356 -0.010689
9059  0.070607  0.073388  0.109898 -0.005073  0.111648 -0.016119 -0.010689
9060  0.070607  0.073388  0.109898 -0.005073  0.111648 -0.016119 -0.010689
9061  0.070607  0.133113 -0.011221 -0.005073 -0.011165 -0.016119 -0.010689
9062  0.070607  0.058457 -0.011221 -0.005073 -0.011165  0.104356 -0.010689
9063 -0.028157 -0.016200 -0.011221 -0.005073 -0.011165 -0.016119 -0.010689
9064 -0.028157 -0.016200 -0.011221 -0.005073 -0.011165 -0.016119 -0.010689
9065  0.040978 -0.016200 -0.011221 -0.005073 -0.011165  0.050812  0.071754

          7         8         9       ...         9056      9057      9058  \
0     0.019379  0.023699  0.089163    ...     0.040978  0.011348  0.070607
1     0.209299  0.053810  0.306685    ...    -0.016200  0.043525  0.058457
2     0.109818  0.274638  0.086065    ...    -0.011221 -0.011221 -0.011221
3     0.496859  0.238193  0.063511    ...    -0.005073 -0.005073 -0.005073
4     0.179371  0.339402  0.150292    ...    -0.011165  0.173054 -0.011165
5     0.072355  0.201880  0.175972    ...     0.050812  0.090970  0.104356
6     0.181772  0.321178  0.075798    ...     0.071754 -0.010689 -0.010689
7     1.000000  0.255420  0.009551    ...    -0.003121 -0.003121 -0.003121
8     0.255420  1.000000  0.067804    ...    -0.006561 -0.006561 -0.006561
9     0.009551  0.067804  1.000000    ...    -0.017686  0.066880  0.066880
10    0.110522  0.171992  0.164696    ...     0.078940  0.063456 -0.013960
11   -0.012528  0.218807  0.100401    ...    -0.005992 -0.005992 -0.005992
12    0.136644  0.215217  0.010495    ...    -0.004132 -0.004132 -0.004132
13    0.074210  0.268310 -0.018490    ...     0.173693  0.121698 -0.008291
14   -0.009767  0.056658  0.129748    ...    -0.004671 -0.004671  0.302634
15    0.109109  0.073542  0.170835    ...     0.098199  0.084098  0.098199
16    0.017106  0.120182  0.080779    ...     0.128425  0.071310 -0.014364
17    0.035158  0.019870  0.037648    ...    -0.007297 -0.007297 -0.007297
18   -0.029416  0.142110  0.295792    ...    -0.014069  0.025431  0.045181
19    0.263208  0.117217  0.156092    ...    -0.004888 -0.004888 -0.004888
20    0.166403  0.097088  0.252030    ...     0.104814  0.119790  0.089837
21   -0.018996  0.123546  0.225439    ...    -0.009086  0.110455 -0.009086
22    0.103998  0.171560  0.167902    ...    -0.006805 -0.006805 -0.006805
23    0.131361  0.129393  0.007707    ...    -0.008343 -0.008343 -0.008343
24    0.116140  0.131745  0.109442    ...     0.108493  0.067154  0.108493
25   -0.006868  0.098099 -0.001853    ...    -0.003285 -0.003285 -0.003285
26   -0.008125 -0.017084  0.084065    ...    -0.003886 -0.003886 -0.003886
27    0.012135 -0.027674  0.030144    ...    -0.006295 -0.006295 -0.006295
28   -0.019925  0.041248  0.034639    ...    -0.009530 -0.009530 -0.009530
29   -0.009691  0.043928  0.093143    ...    -0.004635 -0.004635 -0.004635
...        ...       ...       ...    ...          ...       ...       ...
9036 -0.004407 -0.009265  0.094443    ...    -0.002108  0.657868  0.752150
9037 -0.003121 -0.006561 -0.017686    ...    -0.001493 -0.001493 -0.001493
9038 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9039 -0.003121 -0.006561 -0.017686    ...    -0.001493 -0.001493 -0.001493
9040 -0.003949 -0.008303  0.004373    ...    -0.001889  0.314953 -0.001889
9041 -0.003121 -0.006561  0.066880    ...    -0.001493 -0.001493  1.000000
9042 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9043 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9044 -0.004407 -0.009265  0.094443    ...    -0.002108  0.752150  0.657868
9045 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9046 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9047 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9048 -0.004409 -0.009270 -0.024988    ...    -0.002109 -0.002109 -0.002109
9049 -0.003121 -0.006561  0.095069    ...    -0.001493 -0.001493 -0.001493
9050 -0.003786 -0.007959 -0.000938    ...    -0.001811  0.241172 -0.001811
9051 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9052 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9053 -0.003121 -0.006561  0.095069    ...    -0.001493 -0.001493 -0.001493
9054 -0.003121 -0.006561 -0.017686    ...     1.000000 -0.001493 -0.001493
9055 -0.003121 -0.006561 -0.017686    ...     1.000000 -0.001493 -0.001493
9056 -0.003121 -0.006561 -0.017686    ...     1.000000 -0.001493 -0.001493
9057 -0.003121 -0.006561  0.066880    ...    -0.001493  1.000000 -0.001493
9058 -0.003121 -0.006561  0.066880    ...    -0.001493 -0.001493  1.000000
9059 -0.003121 -0.006561  0.095069    ...    -0.001493 -0.001493 -0.001493
9060 -0.003121 -0.006561  0.095069    ...    -0.001493 -0.001493 -0.001493
9061 -0.003121 -0.006561 -0.017686    ...    -0.001493 -0.001493 -0.001493
9062 -0.003121 -0.006561  0.066880    ...    -0.001493 -0.001493  1.000000
9063 -0.003121 -0.006561 -0.017686    ...    -0.001493 -0.001493 -0.001493
9064 -0.003121 -0.006561 -0.017686    ...    -0.001493 -0.001493 -0.001493
9065 -0.003121 -0.006561 -0.017686    ...     1.000000 -0.001493 -0.001493

          9059      9060      9061      9062      9063      9064      9065
0     0.070607  0.070607  0.070607  0.070607 -0.028157 -0.028157  0.040978
1     0.073388  0.073388  0.133113  0.058457 -0.016200 -0.016200 -0.016200
2     0.109898  0.109898 -0.011221 -0.011221 -0.011221 -0.011221 -0.011221
3    -0.005073 -0.005073 -0.005073 -0.005073 -0.005073 -0.005073 -0.005073
4     0.111648  0.111648 -0.011165 -0.011165 -0.011165 -0.011165 -0.011165
5    -0.016119 -0.016119 -0.016119  0.104356 -0.016119 -0.016119  0.050812
6    -0.010689 -0.010689 -0.010689 -0.010689 -0.010689 -0.010689  0.071754
7    -0.003121 -0.003121 -0.003121 -0.003121 -0.003121 -0.003121 -0.003121
8    -0.006561 -0.006561 -0.006561 -0.006561 -0.006561 -0.006561 -0.006561
9     0.095069  0.095069 -0.017686  0.066880 -0.017686 -0.017686 -0.017686
10   -0.013960 -0.013960 -0.013960 -0.013960 -0.013960 -0.013960  0.078940
11    0.150156  0.150156 -0.005992 -0.005992 -0.005992 -0.005992 -0.005992
12   -0.004132 -0.004132  0.391950 -0.004132 -0.004132 -0.004132 -0.004132
13   -0.008291 -0.008291 -0.008291 -0.008291 -0.008291 -0.008291  0.173693
14   -0.004671 -0.004671 -0.004671  0.302634 -0.004671 -0.004671 -0.004671
15    0.126399  0.126399 -0.014605  0.098199 -0.014605 -0.014605  0.098199
16   -0.014364 -0.014364 -0.014364 -0.014364 -0.014364 -0.014364  0.128425
17   -0.007297 -0.007297 -0.007297 -0.007297 -0.007297 -0.007297 -0.007297
18    0.064931  0.064931 -0.014069  0.045181 -0.014069 -0.014069 -0.014069
19    0.293290  0.293290 -0.004888 -0.004888 -0.004888 -0.004888 -0.004888
20    0.044907  0.044907 -0.014999  0.089837 -0.014999 -0.014999  0.104814
21   -0.009086 -0.009086 -0.009086 -0.009086 -0.009086 -0.009086 -0.009086
22   -0.006805 -0.006805 -0.006805 -0.006805 -0.006805 -0.006805 -0.006805
23   -0.008343 -0.008343 -0.008343 -0.008343 -0.008343 -0.008343 -0.008343
24   -0.015525 -0.015525 -0.015525  0.108493 -0.015525 -0.015525  0.108493
25   -0.003285 -0.003285 -0.003285 -0.003285 -0.003285 -0.003285 -0.003285
26   -0.003886 -0.003886 -0.003886 -0.003886 -0.003886 -0.003886 -0.003886
27   -0.006295 -0.006295 -0.006295 -0.006295 -0.006295 -0.006295 -0.006295
28   -0.009530 -0.009530 -0.009530 -0.009530 -0.009530 -0.009530 -0.009530
29   -0.004635 -0.004635 -0.004635 -0.004635 -0.004635 -0.004635 -0.004635
...        ...       ...       ...       ...       ...       ...       ...
9036 -0.002108 -0.002108 -0.002108  0.752150 -0.002108 -0.002108 -0.002108
9037 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9038 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9039 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9040 -0.001889 -0.001889 -0.001889 -0.001889 -0.001889 -0.001889 -0.001889
9041 -0.001493 -0.001493 -0.001493  1.000000 -0.001493 -0.001493 -0.001493
9042 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9043 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9044 -0.002108 -0.002108 -0.002108  0.657868 -0.002108 -0.002108 -0.002108
9045 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9046 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9047 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9048 -0.002109 -0.002109  0.746972 -0.002109 -0.002109 -0.002109 -0.002109
9049  1.000000  1.000000 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9050 -0.001811 -0.001811  0.970121 -0.001811 -0.001811 -0.001811 -0.001811
9051 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9052 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9053 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9054 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493  1.000000
9055 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493  1.000000
9056 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493  1.000000
9057 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9058 -0.001493 -0.001493 -0.001493  1.000000 -0.001493 -0.001493 -0.001493
9059  1.000000  1.000000 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9060  1.000000  1.000000 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493
9061 -0.001493 -0.001493  1.000000 -0.001493 -0.001493 -0.001493 -0.001493
9062 -0.001493 -0.001493 -0.001493  1.000000 -0.001493 -0.001493 -0.001493
9063 -0.001493 -0.001493 -0.001493 -0.001493  1.000000  1.000000 -0.001493
9064 -0.001493 -0.001493 -0.001493 -0.001493  1.000000  1.000000 -0.001493
9065 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493 -0.001493  1.000000

[9066 rows x 9066 columns]

In [0]:
def retrieve_similar_movies(movieId, n=5):
  # Retrieve the correlation similarity coefficients for the given movie
  df_movies['corr_similarity'] = df_corr_sim.iloc[movieId - 1]
  top_similar_items = df_movies.sort_values(['corr_similarity'],
                                            ascending=False)[1:n+1]
  print(top_similar_items)

In [0]:
# 2b examine similar movies for two movies
retrieve_similar_movies(6)  # Heat
retrieve_similar_movies(42) # Restoration

     movieId                                      title  \
615      733                           Rock, The (1996)
24        25                   Leaving Las Vegas (1995)
650      786                              Eraser (1996)
87        95                        Broken Arrow (1996)
31        32  Twelve Monkeys (a.k.a. 12 Monkeys) (1995)

                        genres  corr_similarity
615  Action|Adventure|Thriller         0.430485
24               Drama|Romance         0.421901
650      Action|Drama|Thriller         0.398260
87   Action|Adventure|Thriller         0.375565
31     Mystery|Sci-Fi|Thriller         0.367041
      movieId                             title  \
401       452               Widows' Peak (1994)
280       314  Secret of Roan Inish, The (1994)
1943     2434          Down in the Delta (1998)
339       375               Safe Passage (1994)
1137     1399              Marvin's Room (1996)

                              genres  corr_similarity
401                            Drama         0.595277
280   Children|Drama|Fantasy|Mystery         0.589898
1943                           Drama         0.527189
339                            Drama         0.481002
1137                           Drama         0.465627